<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">    
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Here I am</p>
        <img class="portrait" src='/img/me.png'>
        <p>You can get a weather forecast, check your IP 
           and use Telegram bots.<strong> Have fun!</strong></p>
    </div>

    {{>footer}}
</body>

</html>