<!DOCTYPE html>

<html>

<head>
    <title>Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        #calc {
            height: auto;
            padding: 5px;
            position: absolute;
            border: 3px solid #888888; 
        }
        button {
            width: 35px;
            margin-top: 5px;
        }
    </style>    
</head>

<body>  
    <div class="main-content">
        {{>header}}
        <span id="calc">
            <input class="screen" disabled="disabled" size="15" style="width: 106px;">
            <button id="clear" style="width: 37px; margin-top: 0px;">C</button>
			<button id="reset" style="width: 38px; margin-top: 0px;">AC</button>
            <br>
            <button class="number">7</button>
            <button class="number">8</button>
            <button class="number">9</button>
            <button id="square">x²</button>
			<button id="divide" style="width: 50px;">/</button>
            <br>
            <button class="number">4</button>
            <button class="number">5</button>
            <button class="number">6</button>
            <button id="exp">exp</button>
			<button id="multiply" style="width: 50px;">*</button>
            <br>
            <button class="number">1</button>
            <button class="number">2</button>
            <button class="number">3</button>
            <button id="sqrt">√</button>
			<button id="minus" style="width: 50px;">-</button>
            <br>
            <button class="number">0</button>
            <button id="numDot">.</button>
            <button id="equals" style="width: 75px;">=</button>
			<button id="plus" style="width: 50px;">+</button>
        </span>
    </div>
    {{>footer}}
    <script src="/js/calc.js"></script>
</body>

</html>
