<!DOCTYPE html>

<html>

<head>
    <title>Goods</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon512px.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        span {
            font-size: x-large;
            margin-left: 200px;
        }
    </style>    
</head>

<body>       
    <div class="main-content">
	{{>header}}
        <img width="927px" height="294px" src='/img/goods.png'>
        <br>
        <ul style="display: inline;">
            <span style="margin-left: 60px;"><input type="radio" id="buy1" name="buy" checked value="buy1"> <label for="buy1"></label></span>
            <span><input type="radio" id="buy2" name="buy" checked value="buy2"> <label for="buy2"></label></span>
            <span><input type="radio" id="buy3" name="buy" checked value="buy3"> <label for="buy3"></label></span>
            <span ><input type="radio" id="buy4" name="buy" checked value="buy4"> <label for="buy4"></label></span>    
        </ul>
        <br>
        <br>
        <form>
            <input id="inputId" placeholder="Your name">
            <button>Buy</button>
        </form>
        <br>
        <p id="message0"></p>
        <p id="message1"></p>
        <br>
        <p>Contact <a class="links" href="http://t.me/GOLDENSHOPBOT_bot" target="_blank">GOLDENBOT</a></p>
    </div>
    {{>footer}}

    <script src="/js/gold.js"></script>
</body>

</html>