<!DOCTYPE html>

<html>

<head>
    <title>Yuri Bilyk - Back-end Developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon512px.png">
    <link rel="stylesheet" href="/css/styles.css"> 

</head>

<body>
    <div class="main-content">
        {{>header}}
    </div>

    {{>footer}}
</body>

</html>
