

<header>
    <h1>{{title}}</h1>
    
    <a href="/">Weather</a>
    <a href="/ip">IP</a>
    <a href="/bots">Bots</a>
    <a href="/gold">Gold</a>
    <a href="/chat">Chat</a>
    <a href="/player">Player</a>
    <a href="/calc">Calc</a>
    <a href="/help">Help</a>
    <a href="/about">About</a>

</header>